/* Style for our header texts
	 --------------------------------------- */
/* Centered texts in each section
	 --------------------------------------- */
.section {
    text-align: center;
}

/* Backgrounds will cover all the section
  --------------------------------------- */
.section {
    background-size: cover;
}
.slide {
    background-size: cover;
}
/* Defining each section background and styles
    --------------------------------------- */
#section0 {
    background-image: url(https://evoltyits.com/image/baronas/1.png);
    padding: 6% 0 0 0;
}

#section1 {
    background-image: url(https://evoltyits.com/image/baronas/2.png);
    padding: 1% 0 0 0;
}
#section2 {
    background-image: url(https://evoltyits.com/image/baronas/3.png);
    padding: 1% 0 0 0;
}
#section3 {
    background-image: url(https://evoltyits.com/image/baronas/4.png);
    padding: 1% 0 0 0;
}
#section3 h1 {
    color: #000;
}
#section4 {
    background-image: url(https://evoltyits.com/image/baronas/3.png);
    padding: 1% 0 0 0;
}
#section5 {
    background-image: url(https://evoltyits.com/image/baronas/1.png);
}
/*Adding background for the slides
  --------------------------------------- */
#particles-js {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221f;
}

.timeline {
    display: inline-block;
    vertical-align: middle;
}

.main-timeline-section {
    position: relative;
    width: 100%;
    margin: auto;
    height: 300px;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end {
    position: absolute;
    background: #f2635f;
    border-radius: 100px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}
.main-timeline-section .timeline-end {
    right: 0px;
}
.main-timeline-section .conference-center-line {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #f2635f;
}
.timeline-article {
    width: 20%;
    position: relative;
    min-height: 300px;
    float: right;
}
.timeline-article .content-date {
    position: absolute;
    top: 5%;
    left: -3.5em;
    text-align: center;
    font-size: 18px;
}
.timeline-article .meta-date {
    position: absolute;
    /*top: 10%;*/
    left: 0px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #f2635f;
}
.timeline-article .content-box {
    box-shadow: 2px 2px 4px 0px #c1c1c1;
    border: 1px solid #f2635f;
    border-radius: 5px;
    background-color: #fff;
    width: 180px;
    position: absolute;
    top: 20%;
    left: -80px;
    padding: 10px;
}
.timeline-article-top .content-box:before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    border: 10px solid transparent;
    border-bottom-color: #f2635f;
}
.timeline-article-bottom .content-date {
    top: -15%;
}
.timeline-article-bottom .content-box {
    top: -50%;
}
.timeline-article-bottom .content-box:before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    border: 10px solid transparent;
    border-top-color: #f2635f;
}

.icon-baronas {
    display: inline-block;
    width: 50%;
}

.text-baronas {
    display: inline-block;
    vertical-align: middle;
}

.logobaronas {
    max-width: 60%;
    margin-left: 40%;
}

.title-baronas {
    font-size: 10vh;
    color: white;
}

.cp {
    vertical-align: middle;
    margin-top: 8em;
}

.cp-icon {
    margin-top: 5em;
    font-size:2em;
}

.kategori {
    position: relative;
    top: -5vh;
}

.kategori-line {
    display: inline-block;
    height: 30vh;
    vertical-align: middle;
    margin: auto 5% auto 5%;
}

.kategori-title {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: middle;
}

.myborder {
    padding: 20px;
    width: 40%;
}

.judul-baronas {
    font-size: 2em;
}

.separator {
    margin-top:5vh;
}

.myborder:hover {
    text-decoration: none;
    background-color:grey;
    
}

.desktop {
    font-size: 2.5vh;
}

.carousel-indicators li {
    width:6px;
    height:6px;
    border-radius:100%;
}

@media (max-width: 992px) {
    .logobaronas {
        margin-left: 0;
    }
    .icon-baronas,
    .text-baronas,.kategori-title {
        display: block;
        width: 100%;
        text-align: center;
    }

    .kategori {
        top:-2vh;
    }

    .title-baronas {
        font-size: 7vh;
    }

    .col,
    .row {
        display: block;
    }

    .cp {
        margin-top: 2em;
    }

    .cp h3, .cp h4, .cp-icon {
        font-size: 1.3em;
    }
    .cp-icon,.separator {
        margin-top: 0;
    }

    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .myborder {
        width: 80%;
        padding:5px;
        margin-top:10px;
    }

    .judul-baronas {
        font-size:1.5em;
    }

    .details-baronas {
        font-size: 1em;
    }
    .border-right {
        width:40%;
        height:0;
        padding:0;
    }
    .desktop {
        font-size: 0;
    }
    .mobile {
        font-size: 1em;
    }
    .timeline-article .content-box {
        padding:3px;
        top:25%;
        width:120px;
        left: -50px;

    }
    .timeline-article-bottom .content-box {
        top: -50%;
    }
    .timeline-article-bottom .content-date {
        top: -20%;
    }
    .timeline-article .content-box p {
        font-size:0.8em;
    }

}
